---
import Palette from "./Palette";
import MainLayout from "../../layouts/MainLayout.astro";
import Roles from "./Roles";

---
<MainLayout>
    <div class="flex w-full flex-col">
        <div class="card w-96 bg-base-100 card-xs shadow-sm p-4">
            <div class="card-body">
                <h2 class="card-title">Palette</h2>
                <Palette client:load/>
            </div>
        </div>
        <div class="divider"/>
        <div class="card w-96 bg-base-100 card-xs shadow-sm p-4">
            <div class="card-body">
                <Roles client:only="react"/>
            </div>
        </div>
    </div>
</MainLayout>
